#workbenchPageContent {
    max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}

#slideshow .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 28px;
    top: 0;
}

#slideshow .owl-prev,
#slideshow .owl-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 8px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s all ease;
}

#slideshow .owl-next {
    right: 10px;
    height: 35px;
    width: 22px;
    margin: 0 !important;
    /* border-radius: 3px 0 0 3px; */
}
#slideshow .owl-next a, #slideshow .owl-prev a{
    font-size: 17px;
}
#slideshow .owl-next .owl-prev button{
    font: unset;
}

#slideshow .owl-prev {
    /* margin: 0px 30px !important; */
    height: 35px;
    width: 22px;
    margin: 0 !important;
}



#slideshow .owl-prev:hover,
#slideshow .owl-next:hover {
background-color: #03606a !important;
}

#slideshow .owl-dots {
    position: relative;
    width: 50%;
    margin: auto;
    display: none;
}


/* .owl-carousel .prev-slide{
  background: url(forwardButton.png) no-repeat scroll 0 0;
  left: -33px;
}
.owl-carousel .next-slide{
  background: url(forwardButton.png) no-repeat scroll -24px 0px;
  right: -33px;
} */